@page "/backer/jobs"
@using Hannibal.Client
@using Hannibal.Models
@using Microsoft.AspNetCore.Identity
@using Poe.Services
@rendermode InteractiveServer

@inject IHannibalServiceClient HigginsServiceClient
@inject IHannibalServiceClient HannibalServiceClient
@inject AuthState AuthState
@inject NavigationManager Navigation
@inject Tools.AppBasePath BasePath

<h3>Jobs</h3>

@if (listJobs == null)
{
    <p><em>Loading jobs...</em></p>
}
else if (!listJobs.Any())
{
    <p>No jobs found.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>State</th>
            <th>SourceEndpoint</th>
            <th>DestinationEndpoint</th>
            <th>StartFrom</th>
            <th>Endby</th>
            <th>Last reported</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var job in listJobs)
        {
            <tr>
                <td>@job.Id</td>
                <td>@job.State</td>
                <td>@job.SourceEndpoint.Name</td>
                <td>@job.DestinationEndpoint.Name</td>
                <td>@job.StartFrom</td>
                <td>@job.EndBy</td>
                <td>@job.LastReported</td>
            </tr>
        }
        </tbody>
    </table>
    <button @onclick="_onClearJobs" id="clearJobs">Clear</button>
}

@code {
    private List<Job> listJobs;
    private IdentityUser? _user;

    
    public void Dispose()
    {
        // Dispose logic if needed
    }


    private async Task _onClearJobs()
    {
        try
        {
            await HannibalServiceClient.DeleteJobsAsync(CancellationToken.None);
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception e)
        {
            
        }
    }

    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (AuthState.ReadResetRedirectToLogin())
        {
            await InvokeAsync(() =>
            {
                Task.Delay(200);
                Navigation.NavigateTo("/login");
            });
        }
    }

    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _user = await HannibalServiceClient.GetUserAsync(-1, CancellationToken.None);
            if (null == _user)
            {
                AuthState.TriggerRedirectToLogin();
            }

            listJobs = new List<Job>(
                await HannibalServiceClient.GetJobsAsync(
                    new ResultPage() { Offset = 0, Length = 20 },
                    new JobFilter() { MaxState = Job.JobState.DoneSuccess, MinState = Job.JobState.Preparing },
                    CancellationToken.None
                ));
        }
        catch (Exception e)
        {
            // TXWTODO: Catch 401 ?
        }
    }
}
