@page "/backer/jobs"
@using Hannibal.Client
@using Hannibal.Models
@using Microsoft.AspNetCore.Identity
@rendermode InteractiveServer

@inject IHannibalServiceClient HigginsServiceClient
@inject IHannibalServiceClient HannibalServiceClient
@inject NavigationManager Navigation
@inject Tools.AppBasePath BasePath

<h3>Jobs</h3>

@if (listJobs == null)
{
    <p><em>Loading jobs...</em></p>
}
else if (!listJobs.Any())
{
    <p>No jobs found.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>State</th>
            <th>SourceEndpoint</th>
            <th>DestinationEndpoint</th>
            <th>StartFrom</th>
            <th>Endby</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var job in listJobs)
        {
            <tr>
                <td>@job.Id</td>
                <td>@job.State</td>
                <td>@job.SourceEndpoint.Name</td>
                <td>@job.DestinationEndpoint.Name</td>
                <td>@job.StartFrom</td>
                <td>@job.EndBy</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<Job> listJobs;
    private IdentityUser? _user;

    protected override async Task OnInitializedAsync()
    {
        _user = await HigginsServiceClient.GetUserAsync(1, CancellationToken.None);
        if (null == _user)
        {
            Navigation.NavigateTo($"{BasePath.Value}/login");
        }

        listJobs = new List<Job>(
            await HannibalServiceClient.GetJobsAsync(
                new ResultPage() { Offset = 0, Length = 20},
                new JobFilter() { MaxState = Job.JobState.DoneSuccess, MinState = Job.JobState.Preparing},
                CancellationToken.None
            ));
    }

    public void Dispose()
    {
        // Dispose logic if needed
    }
}
