@page "/backer/storages"
@using Hannibal.Client
@using Hannibal.Models
@using Microsoft.AspNetCore.Identity
@using Poe.Services
@inject IHannibalServiceClient HigginsServiceClient
@inject NavigationManager Navigation
@inject Tools.AppBasePath BasePath
@inject AuthState AuthState
@implements IDisposable
@rendermode InteractiveServer

<h3>Storages</h3>

@if (_listStorages == null)
{
    <p><em>Loading storages...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Technology</th>
            <th>UriScheme</th>
            <th>Networks</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var sto in _listStorages)
        {
            @if (_editingStorageId == sto.Id)
            {
                    <tr>
                        <td>&nbsp;</td>
                        <td><InputText id="technology" class="form-control" @bind-Value="_editingStorage.Technology" /></td>
                        <td><InputText id="urischeme" @bind-Value="_editingStorage.UriSchema" class="form-control"/></td>
                        <td><InputText id="networks" @bind-Value="_editingStorage.Networks" class="form-control"/></td>
                        <td>
                            <button @onclick="_onEditStorageSubmit" id="submiteditstorage" class="close">✔</button>
                            <button @onclick="_onEditStorageCancel" class="close" aria-label="delete">❌️</button>
                        </td>
                    </tr>
                
            } else
            {
                <tr>
                    <td><button id="starteditstorage" @onclick="() => _onEdit(sto)" aria-label="edit">✏</button></td>
                    <td>@sto.Technology</td>
                    <td>@sto.UriSchema</td>
                    <td>@sto.Networks</td>
                    <td>
                        @if (String.IsNullOrWhiteSpace(sto.RefreshToken))
                        {
                            <button @onclick="() => _onOAuth(sto)">Authenticate...</button>
                        }
                        <button @onclick="() => _onDelete(sto)" class="close" aria-label="delete">🗑️</button>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>

    <h2>Create new storage</h2>
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post"  
                      OnValidSubmit="_addStorage"
                      FormName="create" Enhance
                      EditContext="_editContext">
                <DataAnnotationsValidator/>
                <CustomValidator @ref="_customValidator"/>
                <ValidationSummary class="text-danger"/>
                <div class="mb-3">
                    <label for="name" class="form-label">Technology:</label>
                    <InputSelect id="technology"
                                 placeholder="Technology"
                                 class="form-control"
                                 @bind-Value="_newStorage.Technology">
                        @foreach (var tech in Hannibal.Models.Technologies.GetTechnologies())
                        {
                            <option value="@tech">@tech</option>
                        }
                    </InputSelect>
                    
                    <ValidationMessage For="() => _newStorage.Technology" class="text-danger"/>
                </div>
                <p>Selected: @_newStorage.Technology</p>
                <div class="mb-3">
                    <label for="path" class="form-label">UriSchema:</label>
                    <InputText id="path"
                               placeholder="Path"
                               class="form-control"
                               @bind-Value="_newStorage.UriSchema"/>
                    <ValidationMessage For="() => _newStorage.UriSchema" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="useremail" class="form-label">Account Mail:</label>
                    <InputText id="useremail"
                               placeholder="Account eMail"
                               class="form-control"
                               @bind-Value="_newStorage.OAuth2Email" />
                    <ValidationMessage For="() => _newStorage.OAuth2Email" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Networks:</label>
                    <InputText id="comment"
                               placeholder="Comment"
                               class="form-control"
                               @bind-Value="_newStorage.Networks" />
                    <ValidationMessage For="() => _newStorage.Networks" class="text-danger"/>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </EditForm>
        </div>
    </div>
}


@code {
    
    private CustomValidator _customValidator;
    private EditContext _editContext;

    private List<Hannibal.Models.Storage>? _listStorages = null;
    private IdentityUser? _user = null;

    private int _editingStorageId { get; set; } = -1;

    [SupplyParameterFromForm] private Hannibal.Models.Storage? _editingStorage { get; set; } = new() { Id = -1 };

    [SupplyParameterFromForm] private Hannibal.Models.Storage? _newStorage { get; set; } = null;


    public void Dispose()
    {
        // Dispose logic if needed
    }


    private async Task _onOAuth(Hannibal.Models.Storage? sto)
    {
        if (null == sto)
        {
            // TXWTODO: Ignore call or display error.
            return;
        }
        try
        {
            TriggerOAuth2Result result = await HigginsServiceClient.TriggerOAuth2Async(
                new OAuth2Params()
                {
                    UserLogin = sto.OAuth2Email,
                    Provider = sto.Technology
                },
                CancellationToken.None);
            Navigation.NavigateTo(result.RedirectUrl, forceLoad: true);
        }
        catch (Exception e)
        {
            /*
             * Wasn't able to fulfile request.
             */
            // TXWTODO: Display error.
        }
    }

    
    private async Task _onEdit(Hannibal.Models.Storage? sto)
    {
        if (sto != null)
        {
            _editingStorageId = sto.Id;
            _editingStorage = sto;
        }
        else
        {
            _editingStorageId = -1;
            _editingStorage = new() { Id = -1 };
        }
        
        await InvokeAsync(StateHasChanged);      
    }


    private async Task _onDelete(Hannibal.Models.Storage sto)
    {
        await HigginsServiceClient.DeleteStorageAsync(sto.Id, CancellationToken.None);
        _listStorages = new List<Hannibal.Models.Storage>(
            await HigginsServiceClient.GetStoragesAsync(CancellationToken.None)
        );
        await InvokeAsync(StateHasChanged);      
    }
    
    
    private async Task _onEditStorageCancel()
    {
        _editingStorageId = -1;
        _editingStorage = new() { Id = -1};
        await InvokeAsync(StateHasChanged);      
    }


    private async Task _onEditStorageSubmit()
    {
        if (_editingStorage != null)
        {
            await HigginsServiceClient.UpdateStorageAsync(_editingStorage.Id, _editingStorage, CancellationToken.None);
        }

        _editingStorageId = -1;
        _editingStorage = new() { Id = -1 };
        await InvokeAsync(StateHasChanged);
    }


    private void _onValidateNewStorage(object sender, ValidationRequestedEventArgs ve)
    {
        try
        {
            _customValidator.Clear();

            if (null == _newStorage)
            {
                return;
            }

            if (null == _newStorage.Technology)
            {
                _customValidator.AddError(nameof(_newStorage.Technology), "Please select a technology");
            }

            if (string.IsNullOrWhiteSpace(_newStorage.UriSchema))
            {
                _customValidator.AddError(nameof(_newStorage.UriSchema), "Please add a uri schema");
            }

            if (string.IsNullOrWhiteSpace(_newStorage.OAuth2Email))
            {
                _customValidator.AddError(nameof(_newStorage.OAuth2Email), "Please specify a login email for the service.");
            }

            if (_listStorages != null)
            {
                if (_listStorages.Any(s => s.Technology == _newStorage.Technology.Trim() && s.OAuth2Email == _newStorage.OAuth2Email.Trim()))
                {
                    _customValidator.AddError(nameof(_newStorage.Technology), "Already have a storage with this login and technology");
                }
            }
        } catch (Exception e)
        {
            Console.WriteLine(e.ToString());
        }
    }


    private async Task _addStorage()
    {
        await HigginsServiceClient.CreateStorageAsync(_newStorage, CancellationToken.None);
        _listStorages = new List<Hannibal.Models.Storage>(
            await HigginsServiceClient.GetStoragesAsync(CancellationToken.None)
        );
        _newStorage = Storage.Default();
        await InvokeAsync(StateHasChanged);      
    }
    
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (AuthState.ReadResetRedirectToLogin())
        {
            await InvokeAsync(() =>
            {
                Task.Delay(200);
                Navigation.NavigateTo("/login");
            });
        }
    }


    protected override async Task OnInitializedAsync()
    {
        try
        {
            _user = await HigginsServiceClient.GetUserAsync(-1, CancellationToken.None);
            if (null == _user)
            {
                Navigation.NavigateTo($"{BasePath.Value}/login");
            }

            _listStorages = new List<Hannibal.Models.Storage>(
                await HigginsServiceClient.GetStoragesAsync(CancellationToken.None)
            );

            _newStorage = Storage.Default();

            _editContext = new EditContext(_newStorage);

            // Attach custom validation to the EditContext pipeline
            _editContext.OnValidationRequested += _onValidateNewStorage;
        }
        catch (Exception e)
        {
            // TXWTODO: Catch 401 ?            
        }
    }

}
